
.thumbnail {
  position: relative;
}

.caption {
  color:white;
  font-family: 'Fjalla One', sans-serif;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}
#title{
  font-family: 'Faster One', cursive;
  font-size: 100px;
  color: gold;
}
#description_title{
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Orbitron', sans-serif; 
}
.guess_titles{
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
  border: 3px solid gold;
  margin-right: 500px;
  margin-left: 500px;
  background: black;
}
span{
  background: black;
  font-size: 30px;
  color:red;
}